{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Create{% endblock title %}

{% block content %}

<!-- <form action="{% url 'destination-create' %}" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save person</button>
  </form>
 -->
<form action="{% url 'destination-create' %}" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <h2 class="createpage"> {{ form|crispy }}</h2>
   <!--  <input type="submit" value="Create"> -->
    <button type="submit" class="btn btn-success">Save changes</button>
  </form>

<!-- <form action="{% url 'destination-create' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  
</form> -->
{% endblock content %}

