{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
<p class="margins"></p>
    <p class="detailtitle">{{destination.name}}</p>
    <p>{{destination.description}}</p>
    <p>Stuff To Do: {{destination.activities}}</p>
    <p><img src="{{destination.pretty_picture.url}}"></p>
    <p>Best Time To Visit: {{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button class="btn btn-success btn-lg">Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button class="btn btn-secondary">Delete</button>
    </a>
{% endblock content %}