.text{
	color: white;
	font-size: 30px;
}

p {
	font-family: Ariel;
	font-size: 30px;

/*
body{
    background-image: url("backgroundimg.jpg");*/
}

body{
	/*background-color: lightblue;*/
	background-image: url("skyline.jpg");

	/*background-repeat: no-repeat, repeat;*/
}

.titlefont{
	font-family: Ariel;
	font-size: 40px;
}

.listtitle{
	color: green;
	font-size: 100px
	background-color: white;
}

.margins{
	margin-top: 50px;
	margin-bottom: 50px;
}

.detailtitle{
	font-size: 50px;
	color: green;
}
/*
.navbaredits{
	color: green;
	font-size: 100px;*/
}

.createpage{
	color: yellow;
}

h2{
	color: darkgreen;

}

.rcorners2 {
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

.roundimg{
	border-radius: 25px;
}


